body {
	margin: 0px;
}

#app {
	height: 100vh;
	width: 100%;
}

.selectable:hover {
	border: 1px;
	height: 30px;
}

h4 {
	font-family: sans-serif;
	color: black;
	margin: 0px 10px;
}

.content {
	margin: 0px 10px;
	font-family: sans-serif;
}

.content > .content-line {
	display: flex;
	justify-content: space-between;
}

.content-line > .right-item {
	margin-left: 10px;
}

#about {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px 10px;
	background-color: lightgrey;
	border-radius: 4px 4px 0px 0px;
	cursor: pointer !important;
}

#stats {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	padding: 5px 0px;
	background-color: lightgrey;
	border-radius: 4px;
}
